.list {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  border: 1px dashed var(--color-accent);
  padding: 16px;
}

.list > img {
  height: 150px;
  width: 150px;
}

.noImage {
  color: var(--color-accent);
}

.dog_info {
  text-align: left;
  margin-left: 16px;
}
.dog_info > p {
    margin-bottom: 10px;
}
