.container {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: var(--color-accent);
    color: var(--color-white);
    border: none;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight);
    border-radius: 25px;
}