.container {
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.header > h3 {
    margin: 0 0 16px 16px;
}

.shelters_container {
    overflow-y: auto;
    padding: 0 16px 0 16px;

}