.link {
  text-decoration: none;
  color: var(--color-black);
}

.list {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  border: 1px dashed var(--color-accent);
  padding: 16px;
}

.list > img {
  width: 300px;
  min-height: 80px;
}

.dog_info {
  width: 100%;
  text-align: left;
  margin-left: 20px;
  position: relative;
}

.uploadedDate {
  color: var(--color-accent);
  font-size: 14px;
  position:absolute;
  bottom: 0;
}
