.contents_container {
    padding: 0 16px 0 16px;
}

.list_container > h3 {
    margin-bottom: 16px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-divider);
    margin: 32px 0 16px 0;
}