.container {
  height: 450px;
  position: absolute;
  bottom: -100%;
  border: 1px solid var(--color-accent);
  background-color: var(--color-white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: bottom 0.3s ease-in-out;
}

.open {
  bottom: 0;
}
