.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 16px 24px 16px;
}

.button {
  width: 130px;
  height: 34px;
  color: var(--color-white);
  background-color: var(--color-accent);
  text-align: center;
  border: none;
  border-radius: 7px;
  font-weight: var(--font-weight);
}

.list_container {
  padding: 0 16px 0 16px;
  overflow-y: auto;
  text-align: center;
}
