.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.button_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}

.button {
  width: 150px;
  height: 34px;
  color: var(--color-white);
  background-color: var(--color-accent);
  text-align: center;
  border: none;
  font-weight: var(--font-weight);
}

.list_container {
  padding: 0 8px 0 8px;
  overflow-y: auto;
  text-align: center;
}
