.box {
  color: var(--color-white);
  background-color: var(--color-accent);
  text-align: center;
  padding: 16px 0 15px 0;
}

.list_container {
  padding: 24px 16px 0 16px;
  height: calc(100vh - 290.5px);
  overflow-y: auto;
  text-align: center;
}