.container {
  padding: 0 50px 69px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-accent);
  color: white;
}

.nickname {
  font-size: var(--font-size-lg);
}

.id {
  font-size: var(--font-size-md);
}
