.label {
  font-weight: var(--font-weight);
}

.option_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6px;
}

.option {
  width: 60px;
  border-radius: 15px;
  border: 1px solid var(--color-accent);
  text-align: center;
  padding: 4px 12px 4px 8px;
  color: #5d5d5d;
  cursor: pointer;
  margin: 0 12px 12px 0;
}
