.container {
  width: 100%;
}

.label {
  font-weight: var(--font-weight);
}

.option_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-white);
  align-items: center;
  margin: 6px 0 16px 0;
}
.option_container > input {
  width: 80px;
  height: 20px;
  outline: none;
  border-radius: 15px;
  border: 1px solid var(--color-accent);
  text-align: center;
  padding: 4px 12px 4px 8px;
  color: var(--color-gray);
}
.option_container > span {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight);
  color: var(--color-gray);
}
