.container {
    
}

.contents_container {
    background-color: var(--color-white);
    margin-top: 32px;
    padding: 0 23px 40px 26px;
  }

  .logOut {
    text-align: center;
    color: var(--color-gray);
  }