.container {
}

.header_container > p {
  font-size: 20px;
  background-color: var(--color-accent);
  color: var(--color-white);
  text-align: center;
  padding-bottom: 12px;
}

.contents_container {
  background-color: var(--color-white);
  margin-top: 32px;
  padding: 0 23px 40px 26px;
}

.logOut {
  width: 60px;
  text-align: center;
  color: var(--color-gray);
  cursor: pointer;
  margin: 0 auto;
}

.signOut {
  width: 60px;
  text-align: center;
  color: var(--color-red);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;
}