.header {
  display: flex;
  align-items: center;
  padding: 68px 0 24px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.header > p {
  font-weight: 600;
  font-size: 30px;
}
.image {
  width: 26px;
  height: 28px;
  position:absolute;
  right: 24px;
}
