.footer {
  width: 100%;
  padding: 16px 0 26px 0;
  border-top: 1px solid var(--color-divider);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-white);
}
.container img {
  align-items: center;
  cursor: pointer;
}