.container {
    padding: 68px 16px 0 16px;
}

.header {
    display: flex;
    margin-bottom: 16px;
    text-align: center;
    align-items: center;
}
.header p {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight);
    flex: 1;
}

.container > p {
    margin: -4px 0 50px 0;
    font-size: var(--font-size-sm);
}

.warning {
    color: red;
}