.container {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
}
.container > img {
  width: 50px;
  height: 43.75px;
  margin-right: 24px;
}

.title {
  font-weight: var(--font-weight);
  margin-bottom: 12px;
}

.contents {
    font-size: 14px;
}
.contents span {
    font-weight: var(--font-weight);
}
