.container {
    padding: 68px 16px 0 16px;
}

.container {
    padding: 68px 16px 0 16px;
}

.input_container {
    display: flex;
    position: relative;
}

.button {
    position: absolute;
    top: 25%;
    right: 8px;
    background-color: transparent;
    border: none;
    font-size: var(--font-size-md);
    color: var(--color-accent);
}

.warning {
    color: red;
    margin: -4px 0 50px 0;
    font-size: var(--font-size-sm);
}