.contents_container {
    height: calc(100vh - 337px);
    padding: 83px 24px 12px 24px;
}

.details_container {
    overflow-y: scroll;
}

.special_mark {
    text-align: center;
    font-weight: var(--font-weight);
    margin: 0 12px 32px 12px;
}